<div class="modal">

	<div class="modal-body">
		<ion-title> Selecione um período </ion-title>


    <ion-grid>
			<ion-row>
				<ion-col col-12>					
          <ion-label stacked>  
            <ion-icon name="md-calendar" item-left primary outline color="primary"></ion-icon>  
            Início:
          </ion-label>            
          <ion-datetime [(ngModel)]="dataPesquisa" cancelText="Cancelar"   doneText="Ok" displayFormat="MM/YYYY"  placeholder="Escolha uma data"></ion-datetime>
         
        </ion-col>        
       
        <ion-col col-6>
            <button ion-button small block class="butto-color-custom" (click)="selectedDate();">Selecionar</button>
          </ion-col>
				<ion-col col-6>
					<button ion-button small block class="butto-color-custom" (click)="closeModal();">Cancelar</button>
				</ion-col>
			</ion-row>
		</ion-grid>
 
		
	</div>
</div>
<div class="modal-background"></div>