<ion-header  >
          
  <ion-navbar color="header">        
    
      
    <ion-item no-lines color="header">   
         <button ion-button  menuToggle>  
               <ion-icon name="menu" ></ion-icon>
         </button>        
        <img src="assets/icon/ic_btn-alerta.png"  item-end/>
        <img src="assets/icon/ic_logo_advy.png"  item-end/>
    </ion-item> 
  </ion-navbar>
  
  <ion-toolbar color="subheader">
      
        <ion-title>
            <ion-icon name="briefcase"></ion-icon>
            Aviso de mudança 
        </ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content padding> 
    <ion-segment [(ngModel)]="tipo" color="buttonCustom">
         <ion-segment-button  round value="chegada" >
           Chegada
         </ion-segment-button>
         
         <ion-segment-button  round value="saida" >
           Saída
         </ion-segment-button>
     </ion-segment>
     
     <div [ngSwitch]="tipo" style="margin-top:0%" >
         <form *ngSwitchCase="'chegada'">
                <ion-list style="margin-top: 10%">
                        <ion-item no-lines>          
                             <ion-label stacked> Data</ion-label>            
                             <ion-datetime cancelText="Cancelar"   doneText="Ok" displayFormat="DD/MM/YYYY"  placeholder="Escolha uma data"></ion-datetime>            
                             <ion-icon name="md-calendar" item-right primary outline color="primary"></ion-icon>
                                    
                        </ion-item>
                        <ion-item no-lines>
                            <ion-label stacked>Nome da empresa</ion-label>
                            <ion-input type="text" placeholder="Empresa responsável"></ion-input>
                        </ion-item>
                        <ion-item no-lines>
                            <ion-label stacked>Pessoa responsável</ion-label>
                            <ion-input type="text" placeholder="Digite o nome da pessoa"></ion-input>
                        </ion-item>
                    </ion-list>
         </form>
         <form *ngSwitchCase="'saida'">
                <ion-list style="margin-top: 10%">
                        <ion-item no-lines>          
                             <ion-label stacked> Data</ion-label>            
                             <ion-datetime cancelText="Cancelar"   doneText="Ok" displayFormat="DD/MM/YYYY"  placeholder="Escolha uma data"></ion-datetime>            
                             <ion-icon name="md-calendar" item-right primary outline color="primary"></ion-icon>
                                    
                        </ion-item>
                        <ion-item no-lines>
                            <ion-label stacked>Nome da empresa</ion-label>
                            <ion-input type="text" placeholder="Empresa responsável"></ion-input>
                        </ion-item>
                        <ion-item no-lines>
                            <ion-label stacked>Pessoa responsável</ion-label>
                            <ion-input type="text" placeholder="Digite o nome da pessoa"></ion-input>
                        </ion-item>
                    </ion-list>
         </form>

     </div>  
 <!-- <button ion-button full color="buttonCustom"  outline>Gráfico de Barras</button>-->
</ion-content>
<ion-footer>
        <button ion-button full round color="button" >Salvar</button>
</ion-footer>
