<ion-header  >
          
    <ion-navbar color="header">        
      
        
      <ion-item no-lines color="header">   
           <button ion-button  menuToggle>  
                 <ion-icon name="menu" ></ion-icon>
           </button>        
          <img src="assets/icon/ic_btn-alerta.png"  item-end/>
          <img src="assets/icon/ic_logo_advy.png"  item-end/>
      </ion-item> 
    </ion-navbar>
    
    <ion-toolbar color="subheader">
        
          <ion-title>
              <ion-icon name="briefcase"></ion-icon>
              Gráficos
          </ion-title>
          <ion-buttons end> 
                <button (click)="openFilter()" ion-button>
                        <ion-icon name="funnel" ></ion-icon>
                </button>
         </ion-buttons>
          
          
    </ion-toolbar> 
    
  </ion-header>
  
  <ion-content padding>    
        
    <canvas style="width: 100%; height: 50%;margin-top:75%" #barCanvas></canvas>  
    
  
  </ion-content>
  