
<ion-menu [content]="content">
        <ion-header>
          <ion-toolbar>
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
      
        <ion-content>
             
               
                    
          <ion-list>            
              <ion-item no-lines>
                  <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
                      <span > {{p.title}} </span> 
                  </button>                 
              </ion-item>
            
          </ion-list>
        </ion-content>
      </ion-menu>

<ion-nav #content [root]="rootPage" swipeBackEnabled="false"></ion-nav>
